/mininet/.cache
/mininet/.config
/mininet/.bash_history
/mininet/.mininet_history
/mininet/.python_history
/mininet/**/__pycache__
/mininet/**/*.pyc
/mininet/tcpreplay/packet-capture.log
/mininet/**/*.pcap

/jupyter/work/.ipynb_checkpoints
/jupyter/dataset/*

/maven/app/.m2
/maven/app/.cache
/maven/app/.javacpp
/maven/app/.vscode-server

/maven/app/model_infer/target
/maven/app/model_infer/models/*

/maven/app/.bash_history
/maven/app/sdn_cnn/dataset/*
/maven/app/sdn_cnn/model/*
/maven/app/sdn_cnn/model_2/*
/maven/app/sdn_cnn/target/*.jar

/rabbitmq/data
/rabbitmq/log

/mongodb/data/*

/model-infer-service/model/*